.Shelves-root {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  pointer-events: none;
}

.Shelves-zone {
  position: relative;
  overflow: hidden;
}
